/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    background-image: url("../img/bck.jpg");
    background-size: auto;
    color: #fff;
    text-align: center;
}

.game-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.slot-machine {
    margin: 20px auto;
}

#spinButton {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#tokenCount {
    font-size: 32px;
    color: #ffcc00;
}

/* style.css */
.input-token {
    margin: 20px auto;
}

.input-token input {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #8a2be2;
    border-radius: 5px;
    width: 200px;
}

#resetButton {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
}